<template>
  <div class="container">
      <h2>Dashboard</h2>
      <b-card title="Users" sub-title="List of Users in the database">
        <b-card-text>
                <b-table striped hover :items="items" :fields="fields">
                    <template v-slot:cell(name)="row">
                        <router-link :to="`/users/${row.item._id}`">{{row.item.name}}</router-link>
                    </template>
                    <template v-slot:cell(actions)="row">
                        <b-button variant="danger" size="sm" @click="deleteUser(row.item)" class="mr-1">
                        Delete
                        </b-button>
                    </template>
                </b-table>
        </b-card-text>

        <b-card-text>A second paragraph of text in the card.</b-card-text>

        <router-link to="/new" class="card-link">Add User</router-link>
       </b-card>
  </div>
</template>

<script>
export default {
    mounted(){
        this.selectUsers()
    },
    data(){
        return {
            fields: ['name', 'email', 'username', 'actions'],
            items: [
            ]
        }
    },
    methods:{
        deleteUser(item) {
            if(confirm(`Are you sure you want to delete ${item.name}`)){
                this.$http.delete(`/api/users/${item._id}`).then(res => {
                this.selectUsers()
            })
            }
            
        },
        selectUsers(){
            this.$http.get('/api/users').then(response => {
                if(response.data){
                    this.items = response.data
                }
            })
        }
    }
}
</script>

<style>

</style>