<template>
<div class="container">

  <b-card title="New User" class="mt-5">
      <b-card-text>
        <b-form-input v-model="user.name" placeholder="Enter your name" class="mb-3"></b-form-input>
        <b-form-input v-model="user.username" placeholder="Enter your Username" class="mb-3"></b-form-input>
        <b-form-input type="email" v-model="user.email" placeholder="Enter your Email" class="mb-3"></b-form-input>
      </b-card-text>
      <b-button @click="save()" variant="primary">Submit</b-button>
      <router-link to="/" class="btn btn-default" variant="default">Cancel</router-link>
  </b-card>
</div>
</template>

<script>
export default {
    created(){
        this.$http.get(`/api/users/${this.$route.params._id}`).then(response => {
            if(response.data){
                this.user = response.data
            }
        })
    },
    data(){
        return {
            user:{
                _id: '',
                name:'',
                email:'',
                username:'',
            }
        }
    },
    methods: {
        save(){
            this.$http.put(`/api/users/${this.$route.params._id}`, this.user).then(res => {
                this.$router.push('/')
            })
        }
    }
}
</script>
<style>

</style>